---
import { Icon } from 'astro-icon/components'
---

<div class="emergency-banner">
  <Icon name="lucide:alert-triangle" size={14} class="inline -mt-0.5 mr-1.5" />
  Emergency roof repair? We can attend today.{' '}
  <a href="/emergency">Get help now</a>
</div>
